<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main 페이지 구현</title>
</head>
<body>
<h3>매핑 확인</h3>
<p>
    <a href="/example/exam01">문서확인 [exam01.html문서]</a>
</p>

<h3>form 예제</h3>
<p>
    <a href="/example/form">폼예제[exam03.html, exam04.html 문서]</a>
</p>

<h3>thymeleaf 문법 연습</h3>
<p>
    <a href="/example/test">thymeleaf 문법 연습[test.html, exam02.html 문서]</a>
</p>
<h3>ResponseBody</h3>
<p>
    <a href="/example/exam05">ResponseBody 데이터 확인</a>
</p>
<h3>SampleController.RestController</h3>
<p>
    <a href="/sample/getText">GetMapping(value="/getText", produces=MediaType.TEXT_PLAIN_VALUE)</a>
</p>
<h3>SampleController.RestController</h3>
<p>
    <a href="/sample/getExample">ExampleVO 객체 반환</a>
</p>

</body>
</html>